<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Persist Security Info=False;User ID=sa;Password=P@ssw0rd!;Initial Catalog=employee-db;Data Source=ABD-LEGS7" />
    <add key="ClientSettingProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>